    <!--Navbar-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="color: rgb(255, 255, 255);">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><b>The Realtors Property Hub</b></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Sign-out</a>
              </li>
              <li class="nav-item d-flex">
                <a class="nav-link " href="{% url 'profile' %}"><b>Profile</b></a>
              </li>
              <li class="nav-item d-flex">
                <a class="nav-link " href="{% url 'adminp' %}"><b>Dashboard</b></a>
              </li>
              {% endif %} 
            </ul>
          </div>
        </div>
      </nav>