
        <style>
            body {
            background-color: #c2c5aa;
            }
        </style>
        <body>
        <div class="container mt-5">
            <div class="row">
                <div class="col-sm">
                    <div class="view view-cascade overlay">
                        <img class="img-fluid" src="{{prop.image.url}}" alt="project image">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                </div>
             
                <div class="col-sm">
                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">
    
                        <!-- Title -->
                        <h4 class="card-title"><strong>{{prop.name}}</strong></h4>
                        <!-- Subtitle -->
                        <h6 class="font-weight-bold indigo-text py-2">Description</h6>
                        <!-- Text -->
                        <p class="card-text">{{props.description}}
                        </p>
                        
                        <a href="{{projects.project_link}}">
                            <button class="btn btn-primary">View Project</button>
                        </a>
                    </div>
                </div>
            </div>
           
                <a href="" class="h1">Review</a>
        </div>
        <div></div></div></body>
  
        </div>